.selected {
    background-color: #e5e5e5;
}

.button.see-results {
    background-color: lightgreen;
}

.trickerster-div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
