.found-box {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}

.found-box-channel {
    padding-left: 10px;
    color: #8f8f8f;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 12px;
    background-color: #f3f3f3;
    margin: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.found-box-channel.selected {
    background-color: #d5d5d5;
    outline: gray 2px solid;
}

.found-box-channel:hover {
    background-color: #d5d5d5;
}

.found-tag-box {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.found-tag-box-tag {
    padding: 5px 10px;
    color: #8f8f8f;
    font-family: IBM Plex Mono, sans-serif;
    font-size: 12px;
    background-color: #f3f3f3;
    margin: 5px;
    border-radius: 2px;
    white-space: nowrap;
    cursor: pointer;
}

.found-tag-box-tag:hover {
    background-color: #d5d5d5;
}
